<nav class="navbar navbar-expand-lg" style="background-color: #13322b;">
    <div class="container-fluid">
      <!-- Icon and Brand -->
      <img src="Logo.png" alt="Logo" style="height: 55px; margin-right: 10px;" />
     
  
    <!-- Toggler Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/login">Login            </a>
      </li>
      
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/doctors-availability">
                Doctor's Availability
              </a>
        </li>
      </ul>
    </div>
  </div>
</nav>